%br/
%h1.text-center
  Hola,
  =@worker.name
%h3.text-center Datos anteriores
%h5.text-center
  Local:
  =@worker.local
  , Cargo:
  =@worker.position
  , Género:
  =@worker.gender

= simple_form_for @worker ,html: {class: 'form-signin-survey'} do |f|
  %h2.form-signin-heading Encuesta de Tallaje

  %br/
  %h4 Selecciona talla de Polar
  = f.collection_radio_buttons :polar, @polar_polera, :first, :last do |b|
    -b.radio_button(:class => "form-check-input",required: true) + b.label(:class => "form-check-label")

  //QF, VMF, GS, DERMO, GNC, NATIVA.
  -if [0,1,3,5,6,7].include? @position
    %br/
    %h4 Pantalón de Vestir (Hombre-Mujer) para: QF, VMF, GS, DERMO, GNC, NATIVA.
    = f.collection_radio_buttons :dress_trouser, @t38_60, :first, :last do |b|
      -b.radio_button(:class => "form-check-input",required: true) + b.label(:class => "form-check-label")

  /QF, VMF, G.S.
  -if [0,1,3].include? @position

    -if @is_woman
      %h4 Blusa Blanca - Mujer, aplica para: QF, VMF, G.S.
      = f.collection_radio_buttons :woman_shirt, @blusa, :first, :last do |b|
        -b.radio_button(:class => "form-check-input",required: true) + b.label(:class => "form-check-label")
    -else
      %h4 Camisa Blanca-hombre, aplica para: QF, VMF, G.S.
      = f.collection_radio_buttons :man_shirt, @camisa, :first, :last do |b|
        -b.radio_button(:class => "form-check-input",required: true) + b.label(:class => "form-check-label")


  /QF, VMF, Consultora Dermo y Belleza w
  -if [0,1,4,5].include? @position
    -if  @is_woman
      %h4 Delantal (mujer) aplica para: QF, VMF, Consultora Dermo y Belleza w
      = f.collection_radio_buttons :woman_apron, @t38_60, :first, :last do |b|
        -b.radio_button(:class => "form-check-input",required: true) + b.label(:class => "form-check-label")
    -else
      %h4 Cotona (hombre) aplica para: QF, VMF, Consultora Dermo y Belleza w
      = f.collection_radio_buttons :man_apron, @t38_60, :first, :last do |b|
        -b.radio_button(:class => "form-check-input",required: true) + b.label(:class => "form-check-label")



  / Pantalón Cargo Azul (Hombre-Mujer) SAL
  -if @position === 2
    %br/
    %h4 Selecciona talla de Pantalón Cargo Azul (Hombre-Mujer) aplica para: SAL
    = f.collection_radio_buttons :cargo_trouser, @t38_60, :first, :last do |b|
      -b.radio_button(:class => "form-check-input",required: true) + b.label(:class => "form-check-label")

  / Polera (Hombre-Mujer) aplica para: SAL, GNC, NATIVA.
  -if [2,6,7].include? @position
    %br/
    %h4 Polera (Hombre-Mujer) aplica para: SAL, GNC, NATIVA.
    = f.collection_radio_buttons :t_shirt, @polar_polera, :first, :last do |b|
      -b.radio_button(:class => "form-check-input",required: true) + b.label(:class => "form-check-label")


  %br/
  %h4 ¿Tienes algún comentario?
  = f.input :observation

  %br/
  = f.submit 'Enviar', class: 'btn btn-lg btn-primary btn-block'