!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Antuan
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    - if notice
      %p.alert.alert-success= notice
    - if alert
      %p.alert.alert-danger= alert

    =render partial: "layouts/menu"

    =# simple_form_for(@user, html: { class: 'form-horizontal' }) do |form|

    %main.container{:role => "main"}
      .starter-template
        %h1 Bootstrap starter template
        %p.lead
          Use this document as a way to quickly start any new project.
          %br/
          All you get is this text and a mostly barebones HTML document.
        = yield